@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

h1 {
    padding: 0;
    margin: 0px 20px 20px 20px;
    padding-top: 15px;
    position: relative;
    top: 20px;
    left: 20px;
    color: white;
}

.main_title {
    color: black;
    margin-top: 0;
    text-align: center;
    padding: 0;
}

.main_container {
    margin-top: 20px;
    padding: 0 15px 15px 15px;
    border-radius: 15px 15px 0 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

.banner {
    background-image: url("../../public/images/banner.png");
    height: 300px;
    position: relative;
    object-fit: cover;
    z-index: -1;
    border-radius: 15px;

}

.content {
    color: white;
    position: relative;
    top: 180px; 
    text-align: right;
    margin-right: 15px;
}

.tooltip {
    position: absolute;
    background: white;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    border: 1px solid #ccc;
}

.barchart_container {

}

.line_container {
    display: flex;
    justify-content: space-between;
}

.card_container {
    display: flex;
    justify-content: center;
}